<section class="container-fluid">
    <section class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="m-4">Its Trivia Time!!</h1>
        </div>
        <section id="trivia-cards">

        </section>

    </section>
</section>

<!-- <div class="col-12 m-1">
        <div class="card">
            <h3 class="text-center">${this.category}</h3>
            <h5 class="text-center">${this.difficulty}</h5>
            <p class="fs-4">${this.question}</p>
        </div>
        <div class="row">
            <div class="col-6">${this.correctAnswer}</div>
            <div class="col-6">${this.incorrectAnswer}</div>
            <div class="col-6">${this.incorrectAnswer}</div>
            <div class="col-6">${this.incorrectAnswer}</div>
    
        </div>
    </div> -->